
.owners{
    background-color: rgb(107, 117, 121);
    border: 1px solid rgb(192, 190, 190);
    height: 120px;
    margin-top: 30px;
    border-radius:10px ;
}

.profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid rgb(14, 12, 12);
    margin-right: 10px;
}

.profile:hover{
    cursor: pointer;
    filter: brightness(0.4);
    border: 1px solid rgb(14, 12, 12);
}
